<nav class="navbar mb-4 navbar-expand-lg bg-secondary" data-bs-theme="dark" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fas fa-wallet"></i> PFM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><%= link_to "Categories", categories_path, class: "nav-link #{ 'active' if current_page?(categories_path) }" %></li>
                <li class="nav-item"><%= link_to "Operations", operations_path, class: "nav-link #{ 'active' if current_page?(operations_path) }" %></li>
                <li class="nav-item"><%= link_to "Report", reports_index_path, class: "nav-link #{ 'active' if current_page?(reports_index_path) }" %></li>
            </ul>
            <div class="d-flex" >
                <% if user_signed_in? %>
                    <span class="navbar-text me-3"> <%= link_to current_user.email, edit_user_registration_path %> </span>
                    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class:"btn btn-secondary" %>
                <% else %>
                    <%= button_to "Sign in", new_user_session_path, class: "btn btn-secondary" %>
                <% end %>
            </div>
        </div>
    </div>
</nav>
