<tr id="<%= dom_id category %>">
    <th scope="row"><%= category.id %></th>
    <td><%= category.name %></td>
    <td><%= MoneyFlow.type_string(category.money_flow) %></td>
    <td><%= category.description %></td>
    <td>
        <%= link_to edit_category_path(category), class: "mx-1 text-success text-decoration-none" do %>
            <i class="fa fa-edit"></i>
        <% end %>
        <%= link_to category, class: "mx-1 text-danger text-decoration-none", data: {  turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i>
        <% end %>
    </td>
</tr>
