<%= form_with method: "get" do |form| %>
    <div data-controller="date-picker" data-date-picker-mode-value="range" class="mt-3">
        <%= form.label "Date range", class: "form-label" %>
        <%= form.text_field :date_range, value: params[:date_range], class: "form-control datepicker-range", data: {"date-picker-target": "picker"} %>
    </div>
    <div data-controller="money-flow" class="mt-3">
        <%= form.label "Operation", class: "form-label" %>
        <%= form.select(:money_flow, MoneyFlow::TYPES,{selected: params[:money_flow]}, class: "form-select" ) %>
    </div>
    <div data-controller="money-flow" class="mt-3">
        <%= form.label "Report by", class: "form-label" %>
        <%= form.select(:report_type, Report::TYPES,{selected: params[:report_type]}, class: "form-select" ) %>
    </div>
    <div class="mt-4 mb-4">
        <%= button_tag( formaction: reports_report_path, class: "btn btn-warning mx-1") do %>
          <i class="fa-regular fa-flag"></i> Report
        <% end %>
    </div>
<% end %>
