<%= render "shared/alert" %>
<div class="row">
    <div class="col-md-12">
        <h2>Report</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-5 col-xl-3">
  <% if @report && @report.errors.any? %>
    <div style="color: red">
      <h3><%= pluralize(@report.errors.count, "error") %>:</h3>

      <ul>
        <% @report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
        <%= render 'form' %>
    </div>
    <div class="col mt-2 justify-content-center">
        <p class="text-center text-secondary" id="chart-report">
            <%= turbo_frame_tag "report" do %>
                <%= image_tag "no-data-document.jpg" %>
            </br>
            No data requested yet
            <% end %>
        </p>
    </div>
</div>
