<%= render "shared/alert" %>
<div class="row">
    <div class="col-md-12">
        <h2>Report</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-5 col-xl-3">
        <%= render 'form' %>
    </div>
    <div class="col mt-2">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <ul class="nav nav-tabs mb-3 justify-content-center text-warning">
                    <li class="nav-item">
                        <%= link_to "All",  all_categories_report_by_dates_path, class:"nav-link #{ 'active' unless params['category_id'].present? }" %>
                    </li>
                    <% @categories.each do |c| %>
                        <li class="nav-item">
                            <%= link_to c.name, category_report_by_dates_path(c.id), class:"nav-link  #{ 'active' if c.id == params['category_id'].to_i }" %>
                        </li>
                    <% end %>
                </ul>
                <canvas
                    data-controller="chart"
                    data-chart-type-value="bar"
                    data-chart-data-value="<%= chart_data %>"
                    data-chart-options-value="<%= bar_chart_opts %>"
                ></canvas>
            </div>
            <div class="mt-3 text-center text-secondary">
                <%= link_to '< Prev month' , report_by_dates_path(:prev_month), class: "text-decoration-none" %>
                [ <%= @date_range.humanize %> ]
                <%= link_to 'Next month >', report_by_dates_path(:next_month), class: "text-decoration-none" %>
            </div>
        </div>
    </div>
