<!DOCTYPE html>
<html>
  <head>
    <title>Pfm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <ul>
    <li><%= link_to "Categories", categories_path %></li>
    <li><%= link_to "Operations", operations_path %></li>
    <li><%= link_to "Report", reports_index_path %></li>
  </ul>

  <body>
    <%= yield %>
  </body>
</html>
