<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :amount, class: "form-label" %>
    <%= form.text_field :amount, class: "form-control" %>
  </div>

  <div data-controller="date-picker"  data-date-picker-mode-value="single">
    <%= form.label "Date", :odate, class: "form-label" %>
    <%= form.date_field :odate, class: "form-control datepicker", data: {"date-picker-target": "picker"}  %>
  </div>

  <div>
    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div>
    <%= form.label :category_id, class: "form-label" %>
    <%= form.collection_select(:category_id, categories_list, :id, :name,{}, {class: "form-select"}) %>
  </div>

  <div>
    <%= form.submit action, class: "btn btn-success mt-4" %>
  </div>
<% end %>
