<%= render "shared/alert" %>
<div class="row mb-3">
  <div class="col-md-12">
    <h2>Operations</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="float-start">
      <%= search_form_for @q, class: "input-group" do |f| %>
        <%= f.select :category_id_eq, options_from_collection_for_select(@categories_list, :id, :name, @q.category_id_eq), { :include_blank => 'Select'}, {class: 'form-control rounded'} %>
        <%= f.submit "Filter", class: 'btn btn-outline-success' %>
      <% end %>
    </div>
    <div class="float-end">
      <%= link_to new_operation_path, class: "btn btn-success" do %>
        <i class="fa fa-plus"></i> New operation
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="categories">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col"><%= sort_link(@q, :id, "#", default_order: :asc, class: "link-secondary text-decoration-none") %></th>
            <th scope="col"><%= sort_link(@q, :category_id, "Category", default_order: :asc, class: "link-secondary text-decoration-none") %></th>
            <th scope="col"><%= sort_link(@q, :category_money_flow, "Type", default_order: :asc, class: "link-secondary text-decoration-none") %></th>
            <th scope="col"><%= sort_link(@q, :amount, "Amount", default_order: :asc, class: "link-secondary text-decoration-none") %></th>
            <th scope="col"><%= sort_link(@q, :odate, "Date", default_order: :asc, class: "link-secondary text-decoration-none") %></th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            <%= render @operations %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= paginate @operations %>
